<html>
<head>
</head>
<body>
<table border="1">
<% _.each (models,function(model){ %>
	<tr>
	<td><a href="/crud/<%=model.endpoint%>"><%=model.name%></a></td>
	</tr>
<% }) %>
</table>
</body>
</html>