<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" sizes="16x16"   type="image/png" href="/favicon-16x16.png" />
    <link rel="icon" sizes="24x24"   type="image/png" href="/favicon-24x24.png" />
</head>
<body>
<table border="1">
<% _.each (models,function(model){ %>
	<tr>
	<td><a href="/rest/v1/<%=model.endpoint%>"><%=model.name%></a></td>
	</tr>
<% }) %>
</table>
</body>
</html>